.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.button-container {
    font-size: 80px;
    width: 30%;
}

.welcome-button {
    width: 50%;
    margin: 15px;
    padding: 25px;
    width: 100%;
}
